<div class="form-group">
  <label><b>Nouvelle liste des Couts du batiment :</b></label>
  <table class="table">
    <tbody>
    <tr>
      <th>Ressource</th>
      <th>Quantité</th>
    </tr>
    <tr *ngFor="let cb of coutBatiments">
      <td>{{cb.$id.$ressource.nom}}</td>
      <td>{{cb.$quantite}}</td>
    </tr>
    <tr>
      <td>
        <select class="form-control" [(ngModel)]="coutBatiment.$id.$ressource">
          <option *ngFor="let r of ressources" [ngValue]="r">{{r.nom}}</option>
        </select>
      </td>
      <td>
        <input class="form-control" type="number" [(ngModel)]="coutBatiment.$quantite"/>
      </td>
    </tr>
    <button type="button" class="btn btn-link" (click)="ajoutCout()">ajouter</button>
    <button type="button" class="btn btn-link" (click)="restartListCout()">recommencer la liste des couts</button>
  </tbody>
  </table>
  <div class="alert alert-danger" *ngIf="!validation">une ressource doit être selectionné et la quantité doit être supérieure à 0</div>
</div>

