<div class="flex align-items-center justify-content-center spacer layer1">
  <section style="width:80%;">
    <!-- <div class="text-6xl text-primary font-bold mb-3">
      Règles du jeu
    </div> -->
    <div style="padding-top: 50px;">
      <p-fieldset legend="Règles" >
        Le jeu se joue au tour par tour et fait s’affronter plusieurs joueurs (minimum 2) et leur cité dans un combat sans merci. Pour gagner, tous les coups sont permis, faites donc attention aux alliances qui se font et se défont à une vitesse folle. Développez votre cité, construisez des bâtiments de production, de transformation ou encore d’attaque et détruisez les villes adverses, à moins que vous n’optiez pour une victoire pacifique en développant votre merveille pour éblouir vos adversaires de votre connaissance.
      </p-fieldset><br>
      <p-fieldset legend="Déroulement d'un tour">
          <p-panel header="1 - Piocher des ressources">
            Au début de votre tour de jeu, piocher aléatoirement un total de 10 ressources parmi lesquelles, du bois, de la pierre et des minerais.
          </p-panel><br>
          <p-panel header="2 - Executer vos actions">
            A chaque tour, seul votre nombre de ressources limitent vos actions. Ainsi, vous avez la possibilité de construire des bâtiments, d’améliorer ceux que vous avez déjà construits, de transformer certaines de vos ressources pour débloquer de nouveaux bâtiments ou encore d’attaquer un adversaire.
            <br><br>
            <p-panel header="Construire un bâtiment" [toggleable]="true" [collapsed]="true">
              Choisissez dans la liste des bâtiments constructibles celui que vous désirez construire au sein de votre cité.<br><br>
              <p-panel header="Bâtiments de production" [toggleable]="true" [collapsed]="true">
                Ces bâtiments vous rapportent des ressources supplémentaires à chaque tour, que ce soit en bois, en pierre ou en minerais. Ils rapportent également des points de défense à votre cité et sont améliorables afin de vous rapporter plus de ressources.
              </p-panel><br>
              <p-panel header="Bâtiments de transformation" [toggleable]="true" [collapsed]="true">
                Ces bâtiments vous donnent la possibilité de transformer certaines de vos ressources primaires en de nouvelles ressources plus rares qui vous permettront de débloquer de nouveaux bâtiments encore plus puissants.
              </p-panel><br>
              <p-panel header="Bâtiments de défense" [toggleable]="true" [collapsed]="true">
                Avant de passer à l’offensive, vous pouvez d’ores et déjà renforcer votre cité en construisant des bâtiments exclusivement dédiés à la défense de votre cité. Ces bâtiments sont améliorables afin d’augmenter la défense de votre ville.
              </p-panel><br>
              <p-panel header="Bâtiments d'attaque" [toggleable]="true" [collapsed]="true">
                La meilleure défense, c’est l’attaque ! Choisissez parmi les différents bâtiments d’attaque afin d’affronter vos adversaires et de détruire leurs bâtiments stratégiques, à moins que vous préfériez mener des attaques sur l’ensemble de la cité ennemie. Ces bâtiments sont améliorables pour augmenter votre force de frappe.
              </p-panel><br>
              <p-panel header="Merveille" [toggleable]="true" [collapsed]="true">
                Votre merveille est le cœur de votre cité et le symbole de votre puissance, qu’elle soit militaire ou pacifique. Faites donc attention au développement de celle-ci dans les cités adverses car cela risquerait de vous coûter la victoire…
              </p-panel>
            </p-panel><br>
            <p-panel header="Améliorer un bâtiment" [toggleable]="true" [collapsed]="true">
              Choisissez dans la liste des bâtiments améliorables afin de booster les statistiques de votre bâtiment, que ce soit pour améliorer votre production, votre défense ou votre attaque.
            </p-panel><br>
            <p-panel header="Transformer une ressource" [toggleable]="true" [collapsed]="true">
              Sélectionnez le bâtiment que vous souhaitez utiliser afin de transformer vos ressources, ainsi que la ressource que vous souhaitez produite afin de débloquer de nouveaux bâtiments encore plus puissants.
            </p-panel><br>
            <p-panel header="Attaquer un adversaire" [toggleable]="true" [collapsed]="true">
              Chaque bâtiment d’attaque ne peut être utilisé qu’une fois par tour, utilisez donc cette attaque de manière judicieuse afin de terrasser vos ennemis. Pour cela, indiquez avec quel(s) bâtiment(s) d’attaque vous souhaitez attaquer, ainsi que le joueur et le ou les bâtiments que vous ciblez.
            </p-panel>
          </p-panel><br>
          <p-panel header="3 - Fin du tour">
            Une fois toutes vos actions réalisées, cliquez sur le bouton fin de tour afin de passer la main au joueur suivant.
          </p-panel>
      </p-fieldset><br>
      <p-fieldset legend="Conditions de victoire" style="text-align: center;">
        <div class="p-grid">
          <div class="p-col-3">
            <img
            src="assets/images/logos/imagesJeu/combat.png"
            alt="Image"
            height="65"
            class="mb-3"
          />
          </div>
          <div class="p-col-3">
          <span style="padding-top: 2px;">Tout d’abord, la force brute. Construisez des bâtiments d'attaque, défendez-vous contre vos voisins, détruisez les cités ennemis et triomphez de vos adversaires afin d'être l'unique survivant de cette bataille épique, qui vous fera de vous un grand conquérant et la vainqueur de cette guerre.</span>
        </div>
        <p-divider type="solid"></p-divider>
          <div class="p-col-3">
              <img
              src="assets/images/logos/imagesJeu/paix.png"
              alt="Image"
              height="70"
              class="mb-3"
            />
          </div>
          <div class="p-col-3">
            <span style="padding-top: 2px;">Enfin, la victoire pacifiste qui consiste à construire et à développer votre merveille jusqu’à son niveau maximum (niveau 5) afin de conquérir les cités adverses puis le monde en répandant votre culture, sans la moindre éclaboussure de sang, pour guider ce monde vers la paix.</span>
          </div>
      </div>
      </p-fieldset>
  </div>
  </section>
</div>
<div class="spacer layer1_mirror"></div>
