<div id="fenetreAttaque">
  <h3>Attaque</h3>
  <select class="form-select" aria-label="Default select example" style="width: 48%;">
    <option>Attaquer avec tous mes batiments</option>
    <option>Batiments d'attaque</option>
    <%-- <form:options items="${ressourcesTransformables}" itemValue="id" --%>
      <%-- itemLabel="${batiment.nom}">
        </form:options> --%>
        <!--                   			Ajouter le cout des amélioration -->
  </select> <select class="form-select" aria-label="Default select example" style="width: 48%;">
    <option>joueurs</option>
    <%-- <form:options items="${ressourcesTransformables}" itemValue="id" --%>
      <%-- itemLabel="${batiment.nom}">
        </form:options> --%>
        <!--                   			Ajouter le cout des amélioration -->
  </select> <select class="form-select" aria-label="Default select example" style="width: 48%;">
    <option>Tous les batiments</option>
    <option>Liste des batiments du joueur selectionné</option>
    <%-- <form:options items="${ressourcesTransformables}" itemValue="id" --%>
      <%-- itemLabel="${batiment.nom}">
        </form:options> --%>
        <!--                   			Ajouter le cout des amélioration -->
  </select>
  <button type="submit" class="btn btn-outline-success">Attaquer!</button>
</div>
</div>
