<!-- les lien de gestion sont à conditionner pour les Role_Admin -->
<nav>
  <a [routerLink]="['/toCreate']" routerLinkActive="active" class="btn btn-link">toCreate</a>
  <a [routerLink]="['/gestion/parties']" routerLinkActive="active" class="btn btn-link">Gestion Parties</a>
  <a [routerLink]="['/gestion/joueurs']" routerLinkActive="active" class="btn btn-link">Gestion Joueurs</a>
  <a [routerLink]="['/gestion/ressources']" routerLinkActive="active" class="btn btn-link">Gestion Ressources</a>
  <a [routerLink]="['/gestion/batiments']" routerLinkActive="active" class="btn btn-link">Gestion Batiments</a>
</nav>
<router-outlet></router-outlet>

