<p-toast></p-toast>
<form
  class="flex align-items-center justify-content-center"
  (ngSubmit)="submit()"
  [formGroup]="formGroupNouvellePartie"
>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img
        src="assets/images/logos/logo.png"
        alt="Image"
        height="50"
        class="mb-3"
      />
    </div>

    <div>
      <label class="block text-900 font-medium mb-2"
        >Quelle Partie souhaitez-vous lancer ?</label
      >
      <select class="w-full mb-3" [formControl]="formControlPartie">
        <option></option>
        <option *ngFor="let s of sessions" value="{{ s.id.partie.id }}">
          {{ s.id.partie.id }} {{ s.id.partie.description }}
        </option>
      </select>

      <button
        pButton
        pRipple
        type="submit"
        label="C'est parti"
        class="w-full"
        [disabled]="formGroupNouvellePartie.invalid"
      ></button>
    </div>
  </div>
</form>
<div class="flex align-items-center justify-content-center">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <button
      pButton
      pRipple
      label="Nouvelle partie"
      class="p-button-warning w-full"
      (click)="openNew()"
    >
      <img src="assets/images/logos/logo.png" style="width: 1.5rem" />
    </button>
  </div>
</div>
<p-dialog
  [(visible)]="partieCreationDialog"
  [style]="{ width: '450px' }"
  header="Partie Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="partieInstance.description"
        rows="3"
        cols="20"
      ></textarea>
    </div>

    <div class="p-field">
      <label for="joueurs">Joueurs</label>
      <app-select-joueur
        (selectedComptesReady)="getSelectedComptes($event)"
      ></app-select-joueur>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="savePartie()"
    ></button>
  </ng-template>
</p-dialog>
