<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [class]="tous()" (click)="list()">Tous les batiments</a>
  </li>
  <li class="nav-item">
    <a [class]="attaque()" (click)="listAttaque()">Batiments d'attaque</a>
  </li>
  <li class="nav-item">
    <a [class]="defense()" (click)="listDefense()">Batiments de defense</a>
  </li>
  <li class="nav-item">
    <a [class]="production()" (click)="listProduction()">Batiments de production</a>
  </li>
  <li class="nav-item">
    <a [class]="transformation()" (click)="listTransformation()">Batiments de transformation</a>
  </li>
</ul>

<table class="table">
  <tbody>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Points de Defense</th>
      <th>Ameliorable</th>
      <th *ngIf="battaque">Points d'Attaque</th>
      <th *ngIf="bproduction">Ressource produite</th>
      <th *ngIf="bproduction">Quantite produite</th>
      <th *ngIf="!btotal">Editer / Supprimer</th>
    </tr>
    <tr *ngFor="let b of batiments">
      <td>{{b.id}}</td>
      <td>{{b.nom}}</td>
      <td>{{b.pointsDefense}}</td>
      <td>{{b.ameliorable}}</td>
      <td *ngIf="battaque">{{b.pointsDAttaque}}</td>
      <td *ngIf="bproduction">{{b.ressource.nom}}</td>
      <td *ngIf="bproduction">{{b.quantiteProduite}}</td>
      <td *ngIf="!btotal"><a (click)="redirect(b.id)" class="btn btn-warning">modifier</a></td>
      <!-- <td *ngIf="!btotal"><a [routerLink]="['/gestion/ressources/edit', b.id]" routerLinkActive="active" class="btn btn-warning">modifier</a></td> -->
    </tr>
  </tbody>
</table>
<a routerLink="/gestion/batiments/attaque/edit" routerLinkActive="active" class="btn btn-primary" *ngIf="battaque">nouveau batiment d'attaque</a>
<a routerLink="/gestion/batiments/defense/edit" routerLinkActive="active" class="btn btn-primary" *ngIf="bdefense">nouveau batiment de defense</a>
<a routerLink="/gestion/batiments/production/edit" routerLinkActive="active" class="btn btn-primary" *ngIf="bproduction">nouveau batiment de production</a>
<a routerLink="/gestion/batiments/transformation/edit" routerLinkActive="active" class="btn btn-primary" *ngIf="btransformation">nouveau batiment de transformation</a>
