th{
  background-color: rgb(83, 33, 131);
  color: #fff;
}
table{
  border-bottom:  rgba(84, 33, 131, 0.233);
}
.marge {
  margin-top:10px;
  margin-left:15px;
}
#demo{
  background-color: rgb(245, 245, 245);
}
