<form (ngSubmit)="save()" *ngIf="sessionActive">
  <h3>Amélioration</h3>
  <div *ngIf="batimentsAmeliorables.length==0">
    <div class="alert alert-danger" >Vous n'avez pas de batiments améliorables, ou les ressources nécessaires pour améliorer</div>
  </div>
  <h5 *ngIf="batimentsAmeliorables.length>0">Quel batiment souhaitez-vous améliorer ?</h5>
  <select
    *ngIf="batimentsAmeliorables.length>0"
    class="form-select"
    [(ngModel)]="choixAmelioration"
    name="id"
    aria-label="Default select example"
    style="width: 48%"
  >
    <option *ngFor="let b of batimentsAmeliorables" [value]="b.id" required>
      {{ b.batiment.nom }}
    </option>
  </select>
  <button
    *ngIf="choixAmelioration!=0"
    type="submit"
    class="btn btn-outline-success"
    [disabled]="choixAmelioration == 0"
  >
    Valider
  </button>
</form>
