<div id="formulaireComplet">
  <div class="form-group">
    <label>id:</label>
    <input
      class="form-control"
      [(ngModel)]="batiment.id"
      readonly
      placeholder="genereation auto"
    />
  </div>
  <div class="form-group">
    <label>nom:</label>
    <input class="form-control" [(ngModel)]="batiment.nom" placeholder="attribuer un nom"/>
  </div>
  <div class="form-group">
    <label>points de defense:</label>
    <input class="form-control" [(ngModel)]="batiment.pointsDefense" placeholder="attribuer des points de defense"/>
  </div>
  <div class="form-group">
    <label>ameliorable:</label>
    <select class="form-control" [(ngModel)]="batiment.ameliorable">
      <option>true</option>
      <option>false</option>
    </select>
  </div>
  <br>
  <div class="form-group" id="listCout">
    <app-list-transformation-ressource [id]="id"></app-list-transformation-ressource>
    </div>
  <br>
  <div class="form-group" id="coutBatiment">
    <app-transformation-ressource (outputEvent)="receptionListTransformationRessource($event)" [listTransformationRessource]="listTransformationRessource"></app-transformation-ressource>
    </div>
  <br>
  <div class="form-group"  id="listCout">
  <app-list-cout-batiment [id]="id"></app-list-cout-batiment>
  </div>
  <br>
  <div class="form-group" id="coutBatiment">
  <app-cout-batiment (outputEvent)="receptionListCout($event)" [coutBatiments]="coutBatiments"></app-cout-batiment>
  </div>
  <br>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button (click)="save()" class="btn btn-success">enregistrer</button>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Second group">
      <a
        [routerLink]="['/gestion/batiments']"
        routerLinkActive="active"
        class="btn btn-secondary"
        >annuler</a
      >
    </div>
    <div class="btn-group me-2" role="group" aria-label="Third group">
      <button (click)="delete(batiment.id)" class="btn btn-danger">supprimer</button>
    </div>
    </div>
</div>
